Repository whopio/next-app-middleware, pull requests merged in 2023-02, with the labels that each got.

#16 change pull-comment workflow display name
  .github/workflows/pull-comment.yml
Labels: area: documentation

#21 add repository + readme to npm modules
  README.md
  packages/codegen/README.md
  packages/codegen/package.json
  packages/next-app-middleware/README.md
  packages/next-app-middleware/package.json
  packages/runtime/README.md
  packages/runtime/package.json
Labels: area: core, area: codegen, area: runtime

#24 update turbo-module
  .github/workflows/pull-comment.yml
  .github/workflows/release.yml
  packages/codegen/package.json
  packages/next-app-middleware/package.json
  packages/runtime/package.json
  pnpm-lock.yaml
Labels: area: core, area: codegen, area: runtime

#27 [FIX] simple setup type error
  examples/basic/middleware.hooks.ts
  packages/runtime/src/router/ejected/body/footer.ts
Labels: area: runtime

#28 update install command in readme
  packages/next-app-middleware/README.md
Labels: area: core

#31 allow `external` to be an async function
  examples/basic/app/js/external.ts
  packages/codegen/src/build/get-config-rewrites.ts
  packages/codegen/src/build/layout.ts
  packages/next-app-middleware/README.md
Labels: area: core, area: codegen

#32 started adding commits
  packages/codegen/src/build/collect-exports.ts
  packages/codegen/src/build/collect-layout.ts
  packages/codegen/src/build/collect-public.ts
  packages/codegen/src/build/eject.ts
  packages/codegen/src/build/get-pages.ts
  packages/codegen/src/build/index.ts
  packages/codegen/src/build/read-config.ts
  packages/codegen/src/build/route.ts
  packages/next-app-middleware/README.md
Labels: area: core, area: codegen

#37 Update README.md
  packages/next-app-middleware/README.md
Labels: area: core

#38 fix output types if no middleware exists
  packages/runtime/src/router/ejected/body/footer.ts
Labels: area: runtime
